# 1- Imports

In [1]:
## Essenciais
import pandas as pd
import numpy  as np

## Split dos dados
import pickle as pkl

from RSLib.nuter import preparacao_dados  as dtp

# 2- Funções de apoio | Configurações

In [2]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# 3- Importação dos dados

In [2]:
data_raw = pd.read_csv( '../data/nuter.csv' )

## 3.1- Análise geral dos dados

In [4]:
print  ( f'Base contendo {data_raw.shape[0]} linhas e {data_raw.shape[1]} colunas' )
print( 30 * '--' )
display( data_raw.head(2) )
print( 30 * '--' )
display( data_raw.describe().T )
print( 30 * '--' )
display( data_raw.isna().sum() )

Base contendo 6362620 linhas e 11 colunas
------------------------------------------------------------

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.640,C1231006815,170136.000,160296.360,M1979787155,0.000,0.000,0,0
1,1,PAYMENT,1864.280,C1666544295,21249.000,19384.720,M2044282225,0.000,0.000,0,0

------------------------------------------------------------

,count,mean,std,min,25%,50%,75%,max
step,6362620.000,243.397,142.332,1.000,156.000,239.000,335.000,743.000
amount,6362620.000,179861.904,603858.231,0.000,13389.570,74871.940,208721.478,92445516.640
oldbalanceOrg,6362620.000,833883.104,2888242.673,0.000,0.000,14208.000,107315.175,59585040.370
newbalanceOrig,6362620.000,855113.669,2924048.503,0.000,0.000,0.000,144258.410,49585040.370
oldbalanceDest,6362620.000,1100701.667,3399180.113,0.000,0.000,132705.665,943036.708,356015889.350
newbalanceDest,6362620.000,1224996.398,3674128.942,0.000,0.000,214661.440,1111909.250,356179278.920
isFraud,6362620.000,0.001,0.036,0.000,0.000,0.000,0.000,1.000
isFlaggedFraud,6362620.000,0.000,0.002,0.000,0.000,0.000,0.000,1.000

------------------------------------------------------------

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

# 3- Criação de features

In [3]:
data_aux = dtp.filtro_dados( data_raw )
data_aux = dtp.feature_eng( data_aux )

# 4- Salvando dados

In [5]:
pkl.dump( data_aux, open( '../data/pickle/clean_data.sav', 'wb' ) )